/* css */
*{
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input:focus,
button:focus{
  outline: none;
}

.clear{
  clear: both;
}

.font-s-20{
  font-size: 20px;
  font-weight: 600;
}

.font-s-24{
  font-size: 24px;
  font-weight: 650;
}

.font-s-32{
  font-size: 32px;
  font-weight: 700;
}

.cls{
  clear: both;
}


/* defult navbar section */
header{
  padding-top: 20px;
}

header nav {
  padding: 0;
}

header nav ul li{
  align-self: center;
}

header nav .nav-link{
  color: #fff;

}

header nav .nav-link, .dropdown-item{
  font-weight: 650;
  font-size: 16px;
}

header ul li a {
  position: relative;
}

/* defult effect navbar */
header ul li a:hover {
  position: relative;
  text-decoration: none;
  color: #fff !important;
  z-index: 1 !important;
}

header ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0.4px;
  left: 0;
  border-radius: 4px;
  background-color: #00AEF2;
  transform: scale(0);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition:  all 0.4s ease-out;
  z-index: -1 !important;
}

header ul li a:hover:before {
  transform: scale(1);
}

/* light effect navbar */
.sticky_navigation {
  background-image: linear-gradient(rgba(255,255,255,.95),rgba(255,255,255,.9));
  display: block;
  padding: 0;
}

.sticky_navigation {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}

.sticky_navigation .nav-link{
  color: #00AEF2;
  font-weight: 650;
  font-size: 16px;
}


/* navbar x animation effect */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  background-color: #00AEF2;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -6px);
}


/* banner area owl carousel */
#banner-area{
  width: 100%;
  justify-content: center;
}

.image1{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* photos page */
#banner-img{
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}

/* hours section */
.blocks{
  display: block;
  width: 100%;
}

.block{
  display: block;
  width: 12.5%;
  padding: 3px;
  float: left;
}

#block_hour{
  padding-top: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  border: 10px solid transparent;
  background-clip: padding-box;
  box-shadow: 0px 0px 10px rgba(45, 55, 68, 0.2);
}

/* article section */
#article .card-img-top{
  height: 200px !important;
  overflow: hidden;
}

#article img{
  transition: all 1s ease;
}

#article img:hover{
  transform: scale(1.1);
}

#article .card-body h6{
  height: 60px !important;
  overflow: hidden;
}

#article .card-body p{
  height: 100px !important;
  overflow: hidden;
}


/* namaz page */
.accordion .card .card-body h5, .accordion .card .card-body p{
  text-align: start;
}

.accordion .card-header{
  cursor: pointer !important;
}

/* footer */
#footer img:hover{
  box-shadow: 0 0px 10px 0px white;
  border-radius: 10%;
}



@media screen and (max-width: 768px){
  .block{
    width: 25%;
  }
}

@media screen and (max-width: 500px){
  .block{
    width: 50%;
  }

  .image1{
    height: 35vh;
  }

  #banner-img{
    height: 35vh;
  }

  .messenjer{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 400px){
  .navbar-brand img{
    width: 130px;
  }
  .cart{
    width: 45%;
  }
}